table {
    display: block;
    margin: 20px auto;
    /* max-width: 200px; */
}

table tr td {
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    font-size: 8px;
    text-align: center;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#white{
    background-color: white;
}
#black{
    background-color: black;
    color: white;
}
#yellow{
    background-color: yellow;
}
#orange{
    background-color: orange;
}